<header>
  <div class="navbar p-2 px-4 rounded-md mb-4 bg-base-200 min-h-fit">
    <div class="flex-1 font-brand-normal text-xl">
      <%= link("scriptHungry", to: "/") %>
    </div>
  </div>
</header>
