<!DOCTYPE html>
<html lang="en" class="bg-base-100">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "ScripthungryPhoenix", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="min-h-screen p-2 flex flex-col">
    <%= render "_header.html" %>
    <div class="flex-1">
      <%= @inner_content %>
    </div>
    <%= render "_footer.html", copyright_date: @copyright_date %>
  </body>
</html>
